extends layout

block header
  h2 yo!

block content
  p hello

//- tests
//- .wrapper
//-   p.hello Hello #{name}'s dog's name is #{dog} !
//-   span#yo Yo!
//-   img.dog(src="dog.jpg" alt=`${dog}`)

//- h2
//-   | Hello
//-   em how are you?